* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    font-size: 62.5%;  /* 10px */ /* 32/10 */
}

body {
    background: #EFF1FF;
}

header {
    background: #8E9AAF;

    width: 38.4rem;
    height: 27.9rem;

    /*Centralização dos itens*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 13.7rem;
    margin: 3.2rem auto;
}

header h1 {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;

    letter-spacing: 0.05em;
    color: #FFFFFF;

    margin-top: 4.0rem;
    text-align: center;

    width: 100%;
    padding: 1rem 0;

    background: #CBC0D3;
}

main {
    background: #EFF1FF;

    width: 38.4rem;
    height: 199.5rem;
}

main p {
    font-family: 'Palanquin';
    font-weight: 40.0rem;
    font-size: 2.0rem;
    line-height: 1.5rem;

    display: flex;
    align-items: center;
    text-align: center;

    color: #23053A;
 
    margin-top: 1.4rem;
    margin-bottom: 6.3rem;
}

img {
    width: 100%;
    height: auto;
}

.card {
    margin-bottom: 3.2rem;

}

.card span {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.4rem;

    letter-spacing: 0.05em;

    color: #4A4E69;

    position: absolute;
    width: 11.2rem;
    height: 3.5rem;

    background: #FEEAFA;
    border-radius: 2.0rem;
}